In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
EmployeeName        312882 non-null object
JobTitle            312882 non-null object
BasePay             312882 non-null object
OvertimePay         312882 non-null object
OtherPay            312882 non-null object
Benefits            312882 non-null object
TotalPay            312882 non-null float64
TotalPayBenefits    312882 non-null float64
Year                312882 non-null int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [20]:
def get_employee_details(emp_name):
    try:
        employee = df[df['Name'].str.lower() == emp_name.lower()]
        if employee.empty:
            raise ValueError("Employee not found.")
        return employee
    except Exception as e:
        return f"Error: {str(e)}"

In [13]:
get_employee_details("NATHANIEL FORD")

"Error: 'Name'"

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
EmployeeName        312882 non-null object
JobTitle            312882 non-null object
BasePay             312882 non-null object
OvertimePay         312882 non-null object
OtherPay            312882 non-null object
Benefits            312882 non-null object
TotalPay            312882 non-null float64
TotalPayBenefits    312882 non-null float64
Year                312882 non-null int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB