In [13]:
import pandas as pd

df = pd.read_csv('Total.csv')
print(df.head())

        EmployeeName                                        JobTitle BasePay  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)  155966
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)  212739
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC   77916
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)  134402

  OvertimePay OtherPay      Benefits   TotalPay  TotalPayBenefits  Year
0           0   400184  Not Provided  567595.43         567595.43  2011
1      245132   137811  Not Provided  538909.28         538909.28  2011
2      106088  16452.6  Not Provided  335279.91         335279.91  2011
3     56120.7   198307  Not Provided  332343.61         332343.61  2011
4        9737   182235  Not Provided  326373.19         326373.19  2011

In [14]:
def get_employee_details(emp_name):
    try:
        employee = df[df['EmployeeName'].str.lower() == emp_name.lower()]
        if employee.empty:
            raise ValueError("Employee not found.")
        return employee
    except Exception as e:
        return f"Error: {str(e)}"

In [6]:
get_employee_details("Gary Jimenez")

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,Not Provided,538909.28,538909.28,2011

In [12]:
df2 = pd.read_csv('Total.csv', usecols=['BasePay', 'OvertimePay', 'OtherPay', 'TotalPay', 'TotalPayBenefits'])

data_dict = df2.to_dict(orient='records')

print(data_dict[:10])

[{'BasePay': 167411.18, 'OvertimePay': 0.0, 'OtherPay': 400184.25, 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43}, {'BasePay': 155966.02, 'OvertimePay': 245131.88, 'OtherPay': 137811.38, 'TotalPay': 538909.28, 'TotalPayBenefits': 538909.28}, {'BasePay': 212739.13, 'OvertimePay': 106088.18, 'OtherPay': 16452.6, 'TotalPay': 335279.91, 'TotalPayBenefits': 335279.91}, {'BasePay': 77916.0, 'OvertimePay': 56120.71, 'OtherPay': 198306.9, 'TotalPay': 332343.61, 'TotalPayBenefits': 332343.61}, {'BasePay': 134401.6, 'OvertimePay': 9737.0, 'OtherPay': 182234.59, 'TotalPay': 326373.19, 'TotalPayBenefits': 326373.19}, {'BasePay': 118602.0, 'OvertimePay': 8601.0, 'OtherPay': 189082.74, 'TotalPay': 316285.74, 'TotalPayBenefits': 316285.74}, {'BasePay': 92492.01, 'OvertimePay': 89062.9, 'OtherPay': 134426.14, 'TotalPay': 315981.05, 'TotalPayBenefits': 315981.05}, {'BasePay': 256576.96, 'OvertimePay': 0.0, 'OtherPay': 51322.5, 'TotalPay': 307899.46, 'TotalPayBenefits': 307899.46}, {'BasePay': 176932.64, 'OvertimePay': 86362.68, 'OtherPay': 40132.23, 'TotalPay': 303427.55, 'TotalPayBenefits': 303427.55}, {'BasePay': 285262.0, 'OvertimePay': 0.0, 'OtherPay': 17115.73, 'TotalPay': 302377.73, 'TotalPayBenefits': 302377.73}]

In [25]:
import pandas as pd
import os
import zipfile

df = pd.read_csv("Total.csv", low_memory=False)

def export_employee_to_csv(name):
    try:
        employee = df[df['EmployeeName'].str.lower() == name.lower()]
        
        if employee.empty:
            raise ValueError("Employee not found.")
        
        filename = f"{name.replace(' ', '_').upper()}_employee_details.csv"
        
        employee.to_csv(filename, index=False)
        
        with zipfile.ZipFile("Employee_Profile.zip", 'w', zipfile.ZIP_DEFLATED) as zipf:
            zipf.write(filename, arcname=filename)
        
        os.remove(filename)

        print(f"{name}'s details zipped as Employee_Profile.zip")

    except Exception as e:
        print(f"Error: {str(e)}")

In [26]:
export_employee_to_csv("Patrick Gardner")

✅ Patrick Gardner's details zipped as Employee_Profile.zip

In [21]:
import pandas as pd
import os
import zipfile

def export_zipped_employee_profile(name):
    try:
        employee_data = get_employee_details(name)
        
        if isinstance(employee_data, str):
            raise ValueError(employee_data) 
        
        filename = f"{name.replace(' ', '_').upper()}_employee_details.csv"
        
        employee_data.to_csv(filename, index=False)
        
        with zipfile.ZipFile("Employee_Profile.zip", 'w', zipfile.ZIP_DEFLATED) as zipf:
            zipf.write(filename, arcname=filename)
        
        os.remove(filename)

        print(f"Exported and zipped {name}'s details successfully.")
    
    except Exception as e:
        print(f"Error: {str(e)}")

In [22]:
export_zipped_employee_profile("Gary Jimenez")

✅ Exported and zipped Gary Jimenez's details successfully.